@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	@apply bg-bgColor;
}

input,
textarea,
select {
	@apply border border-white/20 rounded-md p-1 w-full text-txColor shadow-sm mb-2 bg-secundary/20 placeholder:italic placeholder:text-txColor/60;
}

input:focus,
textarea:focus,
select:focus {
	@apply border-primary/10 bg-primary/70;
}

label,
p,
h2 {
	@apply text-txColor;
}

img {
	max-height: 100%;
}

aside {
	@apply text-txColor md:bg-primary/60 w-full h-screen bg-primary;
}

table.basic {
	@apply w-full rounded-lg;
}
table.basic thead tr td {
	@apply text-sm text-txColor uppercase border-b border-white/20 font-bold text-center;
}

table.basic tbody tr td {
	@apply text-txColor py-1 pl-4;
}

table.basic a,
table.basic button {
	@apply text-txColor text-sm py-1 rounded-md inline-flex gap-1 mx-1 items-center mt-1 md:mt-0;
}

#categoryTable td {
	@apply w-1/3;
}

#categoryTable thead tr td {
	@apply text-center py-2;
}

.bgBackground {
	@apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-blue-950 to-black;
}

.btn {
}

.inactiveLink {
	@apply flex gap-1 p-1 hover:bg-white/10 rounded-md;
}
.activeLink {
	@apply inactiveLink bg-white/10 text-txColor border border-secundary/10 shadow;
}

.icon {
	@apply w-6 h-6;
}

.sm-icon {
	@apply w-4 h-4;
}

.tableContainer {
}
