@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-bgColor;
}

input,
textarea,
select {
	@apply border border-black/10 rounded-md p-1 w-full text-txColor shadow-sm mb-2 bg-bgColor placeholder:italic placeholder:text-txColor/60;
}

input:focus,
textarea:focus,
select:focus {
	@apply bg-bgColor text-txColor;
}

label,
p,
h2 {
	@apply text-txColor;
}

img {
	max-height: 100%;
}

aside {
	@apply text-txColor w-full h-screen;
}

table.basic {
	@apply w-full bg-tableBg/80;
}
table.basic thead tr td {
	@apply text-sm text-txColor capitalize border-b border-white/20 font-bold pl-4;
}

table.basic tbody tr td {
	@apply text-txColor py-1 pl-4;
}

table.basic a,
table.basic button {
	@apply text-txColor text-sm py-1 rounded-md inline-flex gap-1 mx-1 items-center mt-1 md:mt-0;
}

#categoryTable tr td {
	@apply py-2;
}

.btn {
}

.inactiveLink {
	@apply flex gap-1.5 py-1 pl-2 hover:bg-primary/10 rounded-md text-txInactive hover:text-txColor;
}
.activeLink {
	@apply flex gap-1.5 py-1 pl-2 rounded-lg bg-primary text-white shadow shadow-black/50;
}

.icon {
	@apply w-6 h-6;
}

.sm-icon {
	@apply w-4 h-4;
}

.tableContainer {
	@apply bg-white md:w-3/4 md:mx-auto rounded-lg shadow shadow-black/20 mt-5 px-1 pb-1.5;
}
