@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
	@apply border border-gray-200 rounded-md p-1 w-full;
	@apply shadow-sm;
	@apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
	@apply border-blue-900;
}

label {
	@apply text-txColor;
}

img {
	max-height: 100%;
}

table .btn-primary {
	@apply bg-primary text-white px-4 rounded-md py-1 border border-white/40 hover:bg-white/90 hover:text-primary hover:border-primary;
}

table .btn-accent {
	@apply text-white px-4 rounded-md py-1 border border-white/20 bg-accent hover:text-accent hover:bg-white/90 hover:border-accent;
}

.btn-layout {
	@apply border border-white/20 hover:shadow-lg py-1 px-2 bg-primary text-txColor hover:bg-indigo-900 hover:border-white rounded-md hover:font-bold;
}
.btn-red {
	@apply bg-red-800 text-white;
}

.btn-default {
	@apply bg-gray-600 text-white px-4 rounded-sm py-1;
}

.btn-red,
.btn-default {
	@apply px-4 py-1 rounded-md;
}

table.basic {
	@apply w-full bg-white/10;
}
table.basic thead tr td {
	@apply text-sm text-white uppercase border-b border-white/20 font-bold;
}

table.basic a,
table.basic button {
	@apply text-white text-sm py-1 rounded-md inline-flex gap-1 mx-1 items-center mt-1 md:mt-0;
}
